:root{
    --ctc-red: rgba(219, 17, 41, 1);
    --ctc-red-lowa: rgba(219, 17, 41, 0.85);
    --ctc-grey: #f6f6f6;
    --gradient-grey: #555555;
}

body {
    font-family: Lato, sans-serif;
    margin: 0;
}

div {
    display: block;
}

span {
    display: block;
}

section p {
    font-size: 1.4em;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 3%;
    text-align: center;
}

hr{
    width: 75%;
    height: 1px;
    background-color: black;
    border: none;
    margin-bottom: 30px;
}

.header-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    /*background: linear-gradient(var(--gradient-grey), black);*/
    /*background: linear-gradient(to bottom, rgba(219, 17, 41, 0.05) 5%, var(--ctc-red));*/
    background: var(--ctc-grey);
}

.header-bar .logo-anchor {
    margin-left: 2%;
}

.header-bar .logo {
    height: 60px;
}

.header-bar h1{
    color:#ffffff;
    max-width: 450px;
    min-width: 450px;
    flex-direction: row-reverse;
    font-size: 2em;
}

nav{
    margin-left: auto;
    margin-right: 2%;
}

nav li {
    display: inline;
    color: var(--ctc-red);
}

nav a {
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

nav ul li {
    font-size: 1.3em;
    flex-grow: 1;
    display: block;
}

nav ul li a {
    overflow: hidden;
    display: block;
    padding: .5em .65em;
    margin: .10em;
    color: var(--ctc-red);
}

nav ul li a:hover {
    color: black;
}

footer {
    text-align: center;
}

.footer-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: var(--ctc-red);
    overflow: hidden;
}

.disclaimers{
    display: flex;
    flex-direction: column;
    gap: 1px;
    justify-content: left;
    width: 50%;
    margin-left: 3%;
}

.disclaimers p{
    color: white;
    font-size: .8em;
    margin: 0;
    text-align: left;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11%;
    margin-right: 4%;
}

.socials a{
    text-decoration: none;
}

.socials p{
    color: white;
    margin: 0;
    width: 85px;

}

.socials p:hover{
    opacity: 70%;
}

.social-logo {
    width: 30px;
    height: 30px;
}

.social-logo:hover {
    opacity: 70%;
}

.intro{
    display: flex;
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.intro::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--ctc-red-lowa) 26%, rgba(219, 17, 41, 0.15));
}

.intro .intro-image{
    width: 100%;
    height: 100%;
    background-image: url("../images/cornell2.jpg");
    background-size: cover;
    background-position: 50% 20%;
}

.intro-text{
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 60%;
}

.intro-text h1{
    font-size: 4em;
    color: white;
    text-align: left;
    margin-bottom: 0;
    width: 70%;
}

.intro-text p{
    font-size: 1.5em;
    color: white;
    text-align: left;
    margin-left: 0;
}

#tagline {
    display: inline-block;
    border-right: 3px solid white; /* Makes the cursor effect */
    padding-right: 3px;
    animation: blink 0.7s infinite step-end;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.break{
    margin: 3% 0;
}

.summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15%;
}

.summary h2{
    font-size: 2.2em;
    font-weight: bold;
    color: var(--ctc-red);
    text-align: center;
    width: 20%;
    margin: 1.5% 0;
}

.summary h3 {
    font-size: 1.5em;
    font-weight: normal;
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
}

.subsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--ctc-grey);
    margin: 4% 0;
}

.subsection .container{
    display: flex;
    justify-content: center;
    gap: 6%;
    margin: 5% 10%;
}

.subsection .text-l {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3%;
    width: 45%;
}

.subsection .text-r {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 3%;
    width: 45%;
}

.subsection .text-l h2 {
    margin: 0;
    text-align: left;
    font-size: 2em;
    color: var(--ctc-red);
}

.subsection .text-r h2 {
    margin: 0;
    text-align: right;
    font-size: 2em;
    color: var(--ctc-red);
}

.subsection .text-l p {
    margin: 0;
    text-align: left;
}

.subsection .text-r p {
    margin: 0;
    text-align: right;
}

.subsection .image {
    position: relative;
    width: 50%;
    /*overflow: hidden;*/
}

.subsection img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 2;
}

.subsection .rect-r {
    position: absolute;
    top: -15px;
    left: 15px;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: var(--ctc-red);
}

.subsection .rect-l {
    position: absolute;
    top: 15px;
    left: -15px;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: var(--ctc-red);
}

/*TODO DELETE?*/

button {
    outline: none;
    border: none;
    cursor: pointer;
    padding:0;
    background: none;
}

.hidden {
    display: none !important;
  }

    /*hamburger menu, stll needs js toggle*/
.hamburger-menu {
    display: block;
    position: absolute;
    right: 2.5%;
    top: 10%;
}

.line {
    width: 40px;
    height: 5px;
    background-color: #f7eded;
    margin: 8px;
    }

.hamburgernav {
    overflow: hidden;
    background-color: gray;;
}
.hamburgernav a:hover {
    color: gray;
}

.hamburgernav #pageLinks {
    display: block;
}

.hamburgernav a {
    color: white;
    display: block;
    padding: .5em 1em;
    margin: .40em;
    text-decoration: none;
    font-size: 17.5px;
}

.hamburgernav a:hover {
    color: #db1129;
}

/* narrow design */

@media screen and (max-width: 956px) {
    /* hide nav bar in narrow screen*/
    .header-bar nav ul {
        display: none;
    }

    .header-bar nav {
        padding: 10px;
        justify-content: center;
    }

    .joinsection img{

        width: 80%;
    }

    h3 {
        font-size: 0.9em;
        margin-left: 18%;
        margin-right: 18%;
    }

    .header-bar h1{
        color:#ffffff;
        margin-left: 2%;
        margin-right: 95px;
        max-width: 550px;
        min-width: 250px;
        flex-direction: row-reverse;
        font-size: 2em;
    }

    .header-bar img{
        margin-left: 65px;
        margin-right: 17px;
    }

    .client-group{
        margin:0;
        margin-right:0px;
        padding: 0px;
        width: 103.5%;
    }

    .client-group figure img{
        text-decoration:none;
        display:inline;
        width: 80%;
        margin: 0px;
    }

    .client-group figure{
        text-decoration:none;
        display:inline;
        width: 80%;
        margin: 6px;
    }
 }

 @media screen and (max-width: 550px) {
    .client-group{
        display:block;
        margin: 12.5%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .client-group figure img{
        text-decoration:none;
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3em;
    }

    .client-group figure{
        text-decoration:none;
        display:block;
        margin-left: auto;
        margin-right: auto;
    }
 }


 @media screen and (max-width: 750px) {
    .group{
        display:block;
    }

    .group figure{
        margin-left: 6em;
    }
 }

.client-logo:hover {
    opacity: 60%;
}
